<li>
    <p>
      <small>
        <% if(locals.user && locals.user.id==comment.user.id) {%>
        <a href="/comments/destroy/<%=comment.id%>">X</a>
        <% }%>
      </small>
      <%= comment.content %>
      <br />
      <small> <%=comment.user.email%> </small>
    </p>
</li>