<h1> <%= title %></h1>
<section id="feed-posts">
  <h4>Post</h4>
  <form action="/post/create" method="POST" id="new-post-form">
    <textarea
      required
      placeholder="Write something"
      name="content"
      type="text"
      row="6"
      col="30"
    >
    </textarea>
    <input type="submit" value="Post" />
  </form>
</section>
<section>
  <ul>
    <% for(let post of posts){ %>
      <li>
        <%= post.content %>
        <%= post.user.name %>
      </li>
    <%} %>
  </ul>
</section>
